header {
    background: var(--colorPrimarioFade);
    background: linear-gradient(180deg, var(--colorPrimarioFade), var(--colorPrimario));
    width: 100%;
    padding: 0;
    top: 0;
    text-align: center;
    color: var(--colorFundo);
    position: fixed;
}