.btn {
    position: fixed;
    bottom: 0;
    margin-bottom: 7.5em;
}

.btn.right {
    right: 1em;
}

.btn.left {
    left: 1em;
}

.btn button {
    width: 5.5em;
    height: 5.5em;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    padding: 1em;
}

.btn.right button {
    background-color: var(--colorSecundaria);
}

.btn.left button {
    background-color: var(--colorSecundariaAlter);
}

.btn img {
    width: 100%;
}