.user {
    display: flex;
    justify-content: center;
    margin: 2em 0em;
}

.user img {
    width: 20em;
    height: 20em;
    object-fit: cover;
    cursor: pointer;
    border-radius: 100%;
    background-color: #f0f0f0;
}

.user img.mar {
    width: 17.5em;
    height: 17.5em;
    padding: 2em;
    background-color: #f0f0f0;
}

div.camp_input {
    margin-bottom: 1em;
}

button.update {
    background-color: var(--colorPrimario);
    font-family: "Nunito";
    font-size: var(--tamanhoTexto);
    font-weight: bold;
    border-radius: 0.5em;
    width: 6em;
    height: 2.5em;
    border: 0em;
}

button.update:hover {
    background-color: var(--colorPrimarioFade);
}

div.dispor button {
    width: 9em;
    font-family: "Nunito";
    font-size: var(--tamanhoTexto);
    padding: 0.3em 0;
    border-radius: 0.5em;
    background-color: var(--colorFundo);
    font-weight: bold;
    border: 0.2em solid var(--colorTexto);
}

div.dispor button.ativo {
    background-color: var(--colorSecundaria);
    color: var(--colorFundo);
}