@font-face {
    font-family: "Bebas_Neue"; src: url('./font/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: "Nunito"; src: url('./font/Nunito-VariableFont_wght.ttf');
}

:root {
  --colorFundo: #ffffff;
  --colorTexto: #000000;
  --colorPrimario: #33C758;
  --colorPrimarioFade: #008112;
  --colorSecundaria: #015A4A;
  --colorSecundariaAlter: #5A1C01;

  --tamanhoTexto: 1.3em;
}

body {
  margin: 0;
  background-color: white;
}

h1 {
  font-family: "Bebas_Neue";
  letter-spacing: 0.2em;
}

h2 {
  font-family: "Nunito";
  text-align: center;
}

p,
label,
input,
th,
td,
textarea,
select {
  font-family: "Nunito";
  font-size: var(--tamanhoTexto);
}