:root {
  --colorFundo: #ffffff;
  --colorTexto: #000000;
  --colorPrimario: #33C758;
  --colorPrimarioFade: #008112;
  --colorSecundaria: #015A4A;
  --colorSecundariaAlter: #5A1C01;
}

body {
  margin: 0;
  background-color: white;
}